.my-info-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-info-container-github {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.my-info-list {
  font-size: 1em;
  font-weight: 600;
  text-align: right;
}

.my-name-disc, .my-password-disc {
  background-color: rgba(88, 132, 173);
  border: 1px solid #F1D42A;
  border-radius: 5px;
  padding: 3px;
}

.my-email-disc {
  display: block;
  text-align: left;
}

.my-password-disc::placeholder{
  font-size: 1
}


.my-password-disc {
  color: black;
}

.my-name-btn, .my-email-btn, .my-password-btn {
  position: relative;
  top: 3vh
}

.my-pic {
  position: relative;
  border: 6px solid #F1D42A;
  background-color: rgb(114, 105, 92);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 3vh;
}

.my-pic-github {
  position: relative;
  border: 6px solid #F1D42A;
  background-color: rgb(114, 105, 92);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 3vh;
}

.my-pic-github img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.my-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.my-pic-upload {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all .3s cubic-bezier(.77,0,.175,1);
  opacity: 0;
  color: white;
}

.my-pic-upload:hover {
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  transition: all .3s cubic-bezier(.77,0,.175,1);
}

.my-name, .my-email, .my-password{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3vh;
}

.my-name-gihub {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4vh;
}

.my-name-disc-github {
  border: none;
}

.btn-pic {
  font-size: 10px;
  font-weight: 400;
  background-color: #F1D42A;
  border-radius: 5px;
  border: none;
  margin-top: 1vh;
}

.btn {
  position: relative;
  right: -33%;
  font-size: 10px;
  font-weight: 400;
  background-color: #F1D42A;
  border-radius: 5px;
  border: none;
  margin-top: 1vh;
}

@media all and (max-width:767px) {

  .my-info-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .my-info-list {
    font-size: 0.8em;
    font-weight: 600;
    text-align: right;
  }

  .my-pic {
    position: relative;
    border: 6px solid #F1D42A;
    background-color: rgb(114, 105, 92);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 1vh;
  }

  .my-name, .my-email, .my-password{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
  }

  .my-name-disc, .my-password-disc {
    width: 100px;
    height: 10px;
  }

  





}