
.my-menu-wrap{
  width: 50%;
  height: 100%;
}

.menuInt{
  margin-left: 40px;
  font-size: 23px;

}
.block{
  border-top: black solid 1px;
  margin-left: 7%;
  margin-top: 2%;
}


.saveResultbox{
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-flow: column;
  border: #f1d42a solid 8px;
  border-radius: 40px;
  width: 100%;
  height: 80%;
  background-color: rgb(234, 236, 221);
}

.saveresultEx{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  text-align: center;
}

.saveResult{
  position: relative;
  display: flex;
  background-color: #97b3d8;
  width: 96%;
  height: 100px;
  margin: 2%;
  border-radius: 20px;
}

.saveresultImg{
  width: 100%;
  height: auto;
}

.saveResult a {
  width: 60%;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.explainName{
  font-weight: 700;
}

.explainData{
  font-size: 12px;
}

.deleteButton {
  position: absolute;
  width: 8px;
  height: 9px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}