@import url("./mymenu.css");
@import url("./myinfo.css");

.my-wrap {
  position: relative;
  background-color: rgba(88, 132, 173);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-container {
  width: 60vw;
  height: 65vh;
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
}

.my-logout-button {
  border: none;
  text-align: center;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin-top: 2vh;
  font-size: 15px;
  font-weight: bold;
  color: rgb(20, 20, 20);
  background-color: #F1D42A;
}

.my-pieaceOfMainpage {
  position: absolute;
  right: 0;
  width: 3vw; 
  height: 100vh; 
  background-color: #F1D42A;
  transition: all .3s cubic-bezier(.77,0,.175,1);
}

.my-pieaceOfMainpage:hover {
  width: 4vw; 
}

.my-pieaceOfMainpage:active {
  animation: goToMypage 0.5s forwards;
}

@keyframes goToMypage {
  from {
    width: 4vw;
  }
  to {
    width: 100vw;
  }
}
