.wrap{
    display: flex;
    background-color: #F1D42A;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .simbol{
  width: 262px;
  height: 248px;
  transition: all .85s cubic-bezier(.77,0,.175,1);
  }
  .simbol:hover {
  width: 562px;
  height: 548px;
  transition: all .85s cubic-bezier(.77,0,.175,1);
  }
  .simbol:hover{
    transform: rotate( 360deg );
  }
  