.main-header {
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}

.main-header-logo {
  width: 9em;
  height: auto;
}

.main-header-bar {
  position: relative;
  border-bottom: 2px solid rgb(56, 56, 56);
  width: 63vw;
}

.main-header-login {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1em;
  font-size: 1.2em;
  color: rgba(88, 132, 173);
  cursor: pointer;
  text-align: right;
}

.main-header-user {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1em;
  font-size: 1.1em;
  color: rgb(29, 29, 29);
  text-align: right;
}

@media all and (min-width:768px) and (max-width:1024px) {
}

@media all and (max-width:767px) {
  .main-header {
    height: 7vh;
    background-color: rgba(88, 132, 173);
    box-shadow: 1px 1px 5px 1px rgb(129, 129, 129);
  }
  
  .main-header-logo {
    width: 4.8em;
    margin: 0.4em;
  }
  
  .main-header-bar {
    border-bottom: none;
  }
  
  .main-header-login {
    position: absolute;
    top: 45%;
    margin: 0em;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    text-decoration-line: underline;
  }
  
  .main-header-user {
    position: absolute;
    top: 45%;
    margin: 0em;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
  }
}
