@import url("./main-header.css");
@import url("./main-ingredients.css");
@import url("./main-chef.css");

body {
  overflow: hidden;
}

.main-wrap {
  position: relative;
  background-color: #F1D42A;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-pieaceOfMypage {
  position: absolute;
  left: 0;
  width: 3vw; 
  height: 100vh; 
  background-color: rgba(88, 132, 173);
  transition: all .1s cubic-bezier(.77,0,.175,1);
  cursor: pointer;
}

.main-pieaceOfMypage:hover {
  width: 5vw; 
  background-color: rgba(88, 132, 173);
}

.main-pieaceOfMypage:active {
  animation: goToMypage 0.3s forwards;
}

@keyframes goToMypage {
  from {
    width: 5vw;
  }
  to {
    width: 100vw;
  }
}

.r-arrow {
  height: 4vh;
  position: absolute;
  right: 0;
  top: 48vh;
}

/* ------ main --------*/

.main-main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-submit {
  border: none;
  text-align: center;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin-top: 20vh;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgba(88, 132, 173);
  box-shadow: 1px 1px 5px 0.5px rgb(129, 129, 129);
  transition: all .0.5s cubic-bezier(.77,0,.175,1);
  cursor: pointer;
}

.main-submit:active {
  box-shadow: 0px 0px 0px 0px rgb(129, 129, 129);
}

@media all and (max-width:767px) {
  .main-submit {
    width: 120px;
    height: 50px;
    margin-right: 25vw;
    margin-top: 23vh;
    font-size: 0.8em;
    font-weight: 500;
    color: white;
    background-color: rgba(88, 132, 173);
    box-shadow: 1px 1px 5px 1px rgb(129, 129, 129);
  }
}
