.main-chefContainer-small {
  position: absolute;
  width: 100vw;
  max-width: 500px;
  height: auto;
  left: 57vw;
  top: 57vh;
  animation: in 2s forwards;
}

@keyframes in {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.main-chef-small {
  width: 60vw;
  max-width: 300px;
  height: auto;
}

.main-chefsTalk-small {
  font-size: 1.1rem;
  font-family: 'Nanum Gothic';
}

@media all and (min-width:768px) and (max-width:1024px) {
  .main-chefContainer-small {
    position: absolute;
    width: 100vw;
    max-width: 500px;
    height: auto;
    left: 57vw;
    top: 60vh;
    animation: in 2s forwards;
  }

  .main-chef-small {
    width: 60vw;
    max-width: 400px;
    height: auto;
  }
}

@media all and (max-width:767px) {
  .main-chefContainer-small {
    position: absolute;
    width: 100vw;
    max-width: 500px;
    height: auto;
    left: 35vw;
    top: 61vh;
    animation: in 2s forwards;
  }

  .main-chef-small {
    width: 60vw;
    max-width: 400px;
    height: auto;
  }
}

/*---------- 오프닝용 -------------*/

.main-chefContainer {
  opacity: 0;
  animation: fadeIn 4s 0.5s forwards;
  width: 60vw;
  max-width: 300px;
  height: 50vh;
  max-height: 600px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-chef {
  width: 60vw;
  max-width: 300px;
  height: auto;
  margin-bottom: 3rem;
}

.main-chefsTalk {
  font-size: 1.1rem;
  font-family: 'Nanum Gothic';
}

/* 셰프 퇴장 */

.main-chefContainer-out {
  animation: out 2s forwards;
  width: 60vw;
  max-width: 300px;
  height: 50vh;
  max-height: 600px;
}

@keyframes out {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(200%);
  }
}
