@import url("./main-header.css");
@import url("./main-ingredients.css");
@import url("./main-chef.css");

body {
  overflow: hidden;
}

.main-wrap {
  position: relative;
  background-color: #F1D42A;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test {
  position: absolute;
  background-color: crimson;
}

.main-pieaceOfMypage {
  position: absolute;
  left: 0;
  width: 0; 
  height: 0; 
  border-top: 12vh solid transparent;
  border-bottom: 12vh solid transparent;
  border-left: 4vw solid rgba(88, 132, 173);
  transition: all .3s cubic-bezier(.77,0,.175,1);
}

.main-pieaceOfMypage:hover {
  border-top: 14vh solid transparent;
  border-bottom: 14vh solid transparent;
  border-left: 6vw solid rgba(88, 132, 173);
}

/* ------ main --------*/

.main-main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-submit {
  border: none;
  text-align: center;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin-top: 20vh;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgba(88, 132, 173);
}

@media all and (max-width:767px) {
  .main-submit {
    width: 120px;
    height: 50px;
    margin-right: 25vw;
    margin-top: 23vh;
    font-size: 0.8em;
    font-weight: 500;
    color: white;
    background-color: rgba(88, 132, 173);
    box-shadow: 1px 1px 5px 1px rgb(129, 129, 129);
  }
}
