.main-ingredients {
  margin-top: 50px;
  width: 60vw;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.main-ingredient {
  border: 5px solid rgba(88, 132, 173);
  width: 10em;
  height: 3em;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  font-size: 1em;
  font-weight: 700;
  transition: all .3s cubic-bezier(.77,0,.175,1);
}

.main-ingredient:hover {
  border: 5px solid rgba(88, 132, 173);
  background-color: rgba(88, 132, 173);
  color: white;
  width: 10em;
  height: 3em;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  font-size: 1em;
  font-weight: 700;
  transition: all .3s cubic-bezier(.77,0,.175,1);
}

.main-ingredient-clicked {
  border: 5px solid rgba(88, 132, 173);
  background-color: rgba(88, 132, 173);
  color: white;
  width: 10em;
  height: 3em;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  font-size: 1em;
  font-weight: 700;
  transition: all .3s cubic-bezier(.77,0,.175,1);
}

@media all and (max-width:767px) {
  .main-ingredients {
    margin-top: 50px;
    width: 60vw;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
  }
  
  .main-ingredient {
    border: 2px solid rgba(88, 132, 173);
    width: 7em;
    height: 2em;
    border-radius: 10px;
    margin-bottom: 1em;
    font-size: 0.8em;
    font-weight: 500;
  }
  
  .main-ingredient:hover {
    background-color: rgba(88, 132, 173);
    color: white;
    border: 2px solid rgba(88, 132, 173);
    width: 7em;
    height: 2em;
    border-radius: 10px;
    margin-bottom: 1em;
    font-size: 0.8em;
    font-weight: 500;
  }
  
  .main-ingredient-clicked {
    background-color: rgba(88, 132, 173);
    color: white;
    border: 2px solid rgba(88, 132, 173);
    width: 7em;
    height: 2em;
    border-radius: 10px;
    margin-bottom: 1em;
    font-size: 0.8em;
    font-weight: 500;
  }
}
